@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">NÓS SOMOS A ESCOLA .NET</h1>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.fundacaotelefonicavivo.org.br%2Fnoticias%2Fna-escola-do-futuro-a-sala-de-informatica-agora-e-a-escola-toda%2F&psig=AOvVaw2K9bopv1eheHIC8s4hx1mv&ust=1725572753304000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCKC6sKqiqogDFQAAAAAdAAAAABAE" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.istockphoto.com%2Fbr%2Ffotos%2Fbiblioteca-de-inform%25C3%25A1tica&psig=AOvVaw2K9bopv1eheHIC8s4hx1mv&ust=1725572753304000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCKC6sKqiqogDFQAAAAAdAAAAABAJ" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://d585tldpucybw.cloudfront.net/sfimages/default-source/productsimages/justmock/justmock__net_770.png?sfvrsn=b4522579_1" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
